<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Ecom.Shop.TestRegisterPage"/>
      <class name="Ecom.Shop.TestLoginPage"/>
   <!--   <class name="Ecom.Shop.Demo"/>
      <class name="Ecom.Shop.TestProductPage"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
